  <h3 class="text-center text"> FOOD SALES PREDICTION </h3>
<div class="row mb-5">

  <div class="col-md-6 mb-4 mb-md-0" style="padding:5%; margin-top:5%">

    <!--Zoom effect-->
    <div class="view zoom">
      <img src="../assets/How-to-Accurately-Forecast-Sales-opengraph.png" class="img-fluid "  alt="smaple image">
      <div class="mask flex-center rgba-black-light">
        <p class="white-text"> Predict your sales like never before</p>
      </div>
    </div>

  </div>
  <div class="col-md-6 mb-4 mb-md-0 flex-center" style="padding:5%; margin-top:10%">
    <form  style="width: 100%;" >
      <div class="custom-file form-group">
        <input type="file" class="custom-file-input" id="customFile" (change)="handleFileInput($event.target.files)">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <p class="text-danger" style="font-size: smaller; text-align: center;"> * Upload files with .csv extension only </p>
      <br>
      <div class="form-group" align=center>
        <input type="button" class="btn sunny-morning-gradient" (click)="upload()" value="UPLOAD">
        <button class="btn tempting-azure-gradient"> RUN  </button>
      </div>
     
    </form> 
    
    
  </div>
  </div>